<table class="table table-striped">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @if (categories$ | async) {
     
      @for (item of categories$ | async; track $index) {

      <tr >
        <td>{{ item.name }}</td>
        
        <td>
          <a (click)="Delete(item.id)" class="btn btn-danger">Delete</a>
          <a (click)="Edit(item.id)" class="btn btn-primary">Edit</a>
        </td>
      </tr>
    }
    }
  </tbody>
</table>
